.balance{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--gray-400);
  bottom: 5rem;
  padding-top: 1rem;
}

.balance .recebido{
  width: 50%;
}

.balance .gasto{
  width: 50%;
}