.balance{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
}

.balance .recebido{
  border: 1px solid black;
  width: 50%;
}

.balance .gasto{
  border: 1px solid black;
  width: 50%;
}