.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--gray-300);
  height: 5rem;
  color: white;
  padding: 1rem;
}

.header p{
  font-size: 2rem;
}