.in{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--gray-600);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background: var(--green-light);
  color: var(--gray-100);
}

.out{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--gray-600);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background: var(--red);
}

.in p{
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--white);
  width: 4rem;
}

.out p{
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--white);
  width: 4rem;
}


.in .removeButton{
  border: none;
  background: none;
  width: 24px;
  height: 24px;
}

.in .removeButton:hover{
  color: var(--white);
  cursor: pointer;
}

.out .removeButton{
  border: none;
  background: none;
  width: 24px;
  height: 24px;
}

.out .removeButton:hover{
  color: var(--white);
  cursor: pointer;
}